{minimum_otp_vsn, "22.0"}.

{erl_opts, [warnings_as_errors]}.

{deps, []}.

{xref_checks, [undefined_function_calls,undefined_functions,locals_not_used]}.

{project_plugins, [rebar3_ex_doc, rebar3_hex]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'CHANGELOG.md', #{title => <<"Changelog">>}},
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>},
    {homepage_url, <<"https://github.com/lpil/thoas">>},
    {source_url, <<"https://github.com/lpil/thoas">>},
    {api_reference, false}
]}.
